*{
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
  }

   :root {
    --color-yacine:  #7CFC00;
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-waening: #f7c94b;
    --color-danger:  #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --color-dla3i: #FFD700;
    --color-dlai: #fbf7f4;
    --color-black: #000;
    --color-bleuciel: #4fa4f4;
    --color-riptide: #87e6cc;
    --color-tango: #f3771e;
    --color-yellow: #FFFF00;



    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
   }

   body{
      font-family: 'Montserrat', sans-serif;
      line-height: 1.7;
      color: var(--color-black);
      background: var(--color-white);
     }
  
     .container {
      width: var(--container-width-lg);
      margin: 0 auto;
     }

  
     section h2 {
      text-align: center;
      margin-bottom: 4rem;
     }


   /* ========== NAVBAR ========== */
   nav {
      background: transparent;
      width: 100vw;
      height: 5rem;
      position: fixed;
      top: 0;
      z-index: 11;
     }
  
     .active{
        background-color: var(--color-dla3i);
        box-shadow: transparent;
        padding: 0.5rem 0.5rem;
        border: 1px solid transparent;
        font-weight: 500;
        transition: var(--transition);
     }
  
     /*change navbar styls on scroll using javascript */
     .Window-scroll {
        background: var(--color-riptide);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
     }
  
     .nav__container {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
     }
  
     nav button {
      display: none;
     }
  
     .nav__menu {
      display: flex;
      align-items: center;
      gap: 4rem;
     }
  
     .nav__menu a {
      font-size: 0.9rem;
      transition: all 400ms ease;
  
     }
  
     .nav__menu a:hover {
      color: var(--color-tango);
     }

   

   /* ========== NAVBAR ========== */
   nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
   }

   .active{
      background-color: var(--color-dla3i);
      box-shadow: transparent;
      padding: 0.5rem 0.5rem;
      border: 1px solid transparent;
      font-weight: 500;
      transition: var(--transition);
   }

   /*change navbar styls on scroll using javascript */
   .Window-scroll {
      background: var(--color-riptide);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
   }

   .nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   nav button {
    display: none;
   }

   .nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
   }

   .nav__menu a {
    font-size: 0.9rem;
    transition: all 400ms ease;

   }

   .nav__menu a:hover {
    color: var(--color-tango);
   }


   /* ========== HEADER ========== */
   header {
      position: relative;
      top: 5rem;
      overflow: hidden;
      height: 70vh;
      margin-bottom: 5rem;
   }

   .header__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 5rem;
      height: 100%;
   }

   .header__left p {
      margin: 1rem 0 2.4rem;
   }



   





.start_btn,
.info_box {
   margin-top: -3rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2),
               0px 6px 20px 0 rgba(0,0,0,0.19);
    
}
.quiz_box {
   margin-top: 6rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2),
               0px 6px 20px 0 rgba(0,0,0,0.19);

}

.result_box {
   margin-top: -2rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2),
               0px 6px 20px 0 rgba(0,0,0,0.19);
}


.start_btn button {
    font-size: 25px;
    font-weight: 500;
    color: white;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: var(--color-tango);
    cursor: pointer;
    text-align: center;
    margin-top: auto;
    
    
    
}

.info_box{
   width: 540px;
   background: var(--color-riptide);
   border-radius: 5px;
   opacity: 0;
   pointer-events: none;
   transform: translate(-50%, -50%) scale(0.9S);
   

}

.info_box .info_title {
   height: 60px;
   width: 100%;
   border-bottom: 1px solid lightgrey;
   display: flex;
   align-items: center;
   padding: 0 30px;
   font-size: 20px;
   font-weight: 600;
}

.info_box .info_list {
   padding: 15px 35px;
}

.info_box .info_list .info {
   margin: 5px 0;
   font-size: 17px;
}

.info_box .info_list .info span {
   font-weight: 600;
   color: #007bff;
}

.info_box .buttons{
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 0 35px;
   border-top: 1px solid lightgray;
}

.info_box .buttons button {
   margin: 0 5px;
   height: 40px;
   width: 100px;
   border: 1px solid #007bff;
   
   border-radius: 5px;
   color: #fff;
   font-size: 16px;
   font-weight: 500;
   cursor: pointer;
}

.buttons button.restart{
   color: #fff;
   
   background: #007bff;
}

.buttons button.restart:hover{
   background: #0263ca;
}

.buttons button.quit{
   color: #007bff;
   
}

.buttons button.quit:hover{
   color: #fff;
   background: #007bff;

}

.quiz_box {
   width: 550px;
   background: #fff;
   border-radius: 5px;
   opacity: 0;
   pointer-events: none;
   transform: translate(-50%, -50%) scale(0.9S);
}


.quiz_box header {
   position: relative;
   z-index: 99;
   height: 70px;
   padding: 0 30px;
   background: #fff;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 5px 5px 0 0;
   box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);

}

.quiz_box header .title {
   font-size: 20px;
   font-weight: 600;
}

.quiz_box header .timer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 145px;
   height: 45px;
   background: #cce5ff;
   border: 1px solid #b8daff;
   border-radius: 5px;
   padding: 0 8px;
}

.quiz_box header .timer .time_text{
   font-weight: 400;
   font-size: 17px;
   user-select: none;
}

.quiz_box header .timer .timer_sec {
   font-size: 18px;
   font-weight: 500;
   background: #343a40;
   height: 30px;
   width: 45px;
   color: #fff;
   text-align: center;
   line-height: 30px;
   border-radius: 5px;
   border: 1px solid #343a40;
   user-select: none;
}

.quiz_box section {
   padding: 25px 30px 20px 30px;
   background: #fff;
}

.quiz_box section .que_text {
   font-size: 25px;
   font-weight: 600;
}

.quiz_box section .option_list {
   padding: 20px 0;
   display: block;
}

section .option_list .option {
   background: aliceblue;
   border: 1px solid #84c5fe;
   border-radius: 5px;
   padding: 8px 15px;
   margin-bottom: 15px;
   font-size: 17px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
   transition: all 0.3s ease;
}

section .option_list .option:hover{
   color: #004085;
   background: #cce5ff;
   border-color: #b8daff;
}


.option_list .option_last-child{
   margin-bottom: 0px;
}

.option_list .option .icon {
   height: 26px;
   width: 26px;
   border: 2px solid transparent;
   border-radius: 50%;
   text-align: center;
   font-size: 13px;
   line-height: 24px;
   pointer-events: none;
}

.option_list .option .icon.tick{
   color: #23903c;
   border-color: #23903c;
   background: #a9dd0e;
}

.option_list .option .icon.cross{
   color: #a42834;
   background: #f8d7da;
   border-color: #a42834;
}


.quiz_box section .total_que {
   height: 60px;
   width: 100%;
   padding: 0 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;

}


.quiz_box section .total_que span {
   margin-top: -9rem;
   display: flex;
   user-select: none;
}

section .total_que span p{
   font-weight: 500;
   padding: 0 5px;
}

.total_que span p:first-child{
   padding-left: 0px;
}

section .next_btn {
   margin-top: -333rem;
   height: 40px;
   padding: 0 13px;
   font-size: 18px;
   font-weight: 400;
   border: none;
   outline: none;
   color: #fff;
   background: #007bff;
   border-radius: 5px;
   border: 1px solid #007bff;
   cursor: pointer;
   transition: all 0.3s ease;
}

section .next_btn:hover {
   background: #0263ca;
}

.result_box{
   background: #fff;
   width: 450px;
   padding: 25px 30px;
   border-radius: 5px;
   display: flex;
   text-align: center;
   align-items: center;
   flex-direction: column;
   justify-content: space-between;
   opacity: 0;
   pointer-events: none;
   transform: translate(-50%, -50%) scale(0.9);
}

.result_box .icon {
   font-size: 100px;
   color: #007bff;
   margin-bottom: 10px;

}

.result_box .complete_text {
   font-size: 20px;
   font-weight: 500;
}

.result_box .score_text span {
   display: flex;
   margin: 10px 0;
   font-size: 18px;
   font-weight: 500;
}

.score_text span p {
   font-weight: 600;
   padding: 0 4px;
}

.result_box .buttons {
   display: flex;
   margin: 20px 0;
}

.result_box .buttons button {
   margin: 0 10px;
   height: 40px;
   padding: 0 20px;
   border: none;
   outline: none;
   font-size: 18px;
   font-weight: 500;
   border-radius: 5px;
   border: 1px solid #007bff;
   cursor: pointer;
   transition: all 0.3sease;
}



/* ========== footer ========== */
footer {
    background: var(--color-white);
    margin-top: 50rem;
    font-size: 0.9rem;
 }

 .footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
 }

 .footer__container > div h4 {
    margin-bottom: 1.2rem;
 }

 .footer__1 p {
    margin: 0 0 2rem;
 }

 footer ul li {
    margin-bottom: 0.7rem;
 }

 footer ul li a:hover {
    text-decoration: underline;
 }

 .footer__socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
 }

 .footer__copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-white);
 }



 /* ========== media queris (tablets) ========== */
@media screen and (max-width: 1024px) {
   .container {
      width: var(--container-width-md);
   }

   h1 {
      font-size: 2.2rem;
   }

   h2 {
      font-size: 1.7rem;
   }

   h3 {
      font-size: 1.4rem;
   }

   h4 {
      font-size: 1.2rem;
   }

   /* ========== navbar ========== */
   nav button {
      display: inline-block;
      background: transparent;
      font-size: 1.8rem;
      color: var(--color-white);
      cursor: pointer;
   }

   nav button#close-menu-btn {
      display: none;
   }
   
   .nav__menu {
      position: fixed;
      top: 5rem;
      right: 5%;
      height: fit-content;
      width: 18rem;
      flex-direction: column;
      gap: 0;
      display: none;
   }

   .nav__menu li {
      width: 100%;
      height: 5.8rem;
   }

   .nav__menu li a {
      background: var(--color-riptide);
      box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
   }

   .nav__menu li a:hover {
      background: var(--color-bg2);
      color: var(--color-white);
   }








   



   









   
   
   
   .info_box{
      width: var(--container-width-sm);
      background: var(--color-riptide);
      border-radius: 5px;
      margin-top: -8rem;
   
   }


   .quiz_box {
      width: var(--container-width-sm);
      margin-top: -2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   
   }
   
   .info_box .info_title {
      height: 60px;
      width: 100%;
      border-bottom: 1px solid lightgrey;
      display: flex;
      align-items: center;
      padding: 0 35px;
      font-size: 20px;
      font-weight: 600;
   }
   
   .info_box .info_list {
      padding: 15px 35px;
   }
   
   .info_box .info_list .info {
      margin: 5px 0;
      font-size: 17px;
   }
   
   .info_box .info_list .info span {
      font-weight: 600;
      color: #007bff;
   }
   
   .info_box .buttons{
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 35px;
      border-top: 1px solid lightgray;
   }
   
   .info_box .buttons button {
      margin: 0 5px;
      height: 40px;
      width: 100px;
      border: 1px solid #007bff;
      background: #007bff;
      border-radius: 5px;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
   }

   


   /* ========== media quaries (phone) ========== */
@media screen  and (max-width: 600px) {
   .container {
      width: var(--container-width-sm);
   }

   /* ========== navbar ========== */
   .nav__menu {
      right: 3%;
   }





   .info_box{
      width: var(--container-width-sm);
      background: var(--color-riptide);
      border-radius: 5px;
      margin-top: auto;
   }


   .quiz_box {
      width: var(--container-width-sm);
      margin-top: 4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   
   }

   
   
   .info_box .info_title {
      height: 60px;
      width: 100%;
      border-bottom: 1px solid lightgrey;
      display: flex;
      align-items: center;
      padding: 0 35px;
      font-size: 20px;
      font-weight: 600;
   }
   
   .info_box .info_list {
      padding: 15px 35px;
   }
   
   .info_box .info_list .info {
      margin: 5px 0;
      font-size: 17px;
   }
   
   .info_box .info_list .info span {
      font-weight: 600;
      color: #007bff;
   }
   
   .info_box .buttons{
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 35px;
      border-top: 1px solid lightgray;
   }
   
   .info_box .buttons button {
      margin: 0 5px;
      height: 40px;
      width: 100px;
      border: 1px solid #007bff;
      background: #007bff;
      border-radius: 5px;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
   }


   /* ========== footer ========== */
   .footer__container {
      grid-template-columns: 1fr;
      text-align: center;
      gap: 2rem;
   }

   .footer__1 p {
      margin: 1rem auto;
   }

   .footer__socials {
      justify-content: center;
   }
}


