   *{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
   }

   :root {
    --color-yacine:  #7CFC00;
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-waening: #f7c94b;
    --color-danger:  #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #ffffff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --color-dla3i: #FFD700;
    --color-dlai: #fbf7f4;
    --color-black: #000;
    --color-bleuciel: #4fa4f4;
    --color-riptide: #4fa4f4;
    --color-tango: #f3771e;
    --color-yellow: #FFFF00;



    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
   }

   body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-black);
    background: var(--color-white);
   }

   .container {
    width: var(--container-width-lg);
    margin: 0 auto;
   }

   section {
    padding: 6rem 0;
   }

   section h2 {
    text-align: center;
    margin-bottom: 4rem;
   }
   h1,
   h2,
   h3,
   h4,
   h5, {
    line-height: 1.2;
   }

   h1 {
    font-size: 2.4rem;
   }

   h2 {
    font-size: 2rem;
   }

   h3 {
    font-size: 1.6rem;
   }

   h4 {
    font-size: 1.3rem;
   }

   a {
    color: var(--color-black);
   }

   img {
    width: 100%;
    display: block;
    object-fit: cover;
   }

   .btn {
    display: inline-block;
    background: var(--color-tango);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
    border-radius: 1rem;
   }

   .btn:hover {
    background: transparent;
    color: var(--color-black);
    border-color: var(--color-black);
   }

   .btn-primary {
    background: var(--color-tango);
    color: var(--color-white);
   }

   /* ========== NAVBAR ========== */
   nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
   }

   .active{
      background-color: var(--color-dla3i);
      box-shadow: transparent;
      padding: 0.5rem 0.5rem;
      border: 1px solid transparent;
      font-weight: 500;
      transition: var(--transition);
   }

   /*change navbar styls on scroll using javascript */
   .Window-scroll {
      background: var(--color-riptide);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
   }

   .nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   nav button {
    display: none;
   }

   .nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
   }

   .nav__menu a {
    font-size: 0.9rem;
    transition: all 400ms ease;

   }

   .nav__menu a:hover {
    color: var(--color-tango);
   }

   /* ========== HEADER ========== */

   header {
      display: flex;
      height: 100vh;
      width: 100%;
    }
   header {
      position: relative;
      top: 5rem;
      overflow: hidden;
      height: 70vh;
      margin-bottom: 5rem;


   }

   .header__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 5rem;
      height: 100%;
   }

   .header__left p {
      margin: 1rem 0 2.4rem;
   }




   /*Notification
----------------------------------------------*/

.notify-alert-box{
	width: 400px;
	position: fixed;
	left: 50%;
	margin-left: -200px;
	top: 0; /*top: -100%;*/
	padding: 20px;
	z-index: 100000;
	background:#fff;
	color: #333;
	transition: all 1s ease-in-out;
}
.notify-alert-box img{
	width: 70px;
	float: left;
	margin-right: 10px;
}

.buttons{
	text-align: right;
}
.buttons button{
	background:#024e73;
	color: #fff;
	border:0;
	padding: 8px 15px;
	font-size: 18px;
	cursor: pointer;
}

   
   /* ========== CATEGORIES ========== */
   .departements {
      background: var(--color-white);
      height: 29rem;
   }

   .departements h1 {
      line-height: 1;
      margin-bottom: 3rem;
   }

   .departements__container {
      display: grid;
      grid-template-columns: 40% 60%;
      gap: 4rem;
   }

   .categories__left {
      margin-right: 3rem;
   }

   .categories__left h1::after {
      content: "";
      height: 3px;
      background: #fbb900;
      width: 250px;
      position: absolute;
      left: -7rem;
      right: 0;
      margin: auto;
      margin-top: 3rem;
    }

   .categories__left p {
      margin: 1rem 0 3rem;
   }

   .categories__right {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.2rem;
   }

   .category {
      background: var(--color-riptide);
      padding: 2rem;
      border-radius: 2rem;
      transition: var(--transition);
      
   }

   .category img {
      width: 38px;
      height: 38px;
      margin-left: auto;
      margin-right: auto;
   }

   .category:hover {
      box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
   }

   

   .category h5 {
      margin: 2rem 0 1rem;
      text-align: center;
   }

   .category p {
      font-size: 0.85rem;
      margin-left: 10px;
   }

   /* ========== POPULAR COURSES ========== */

   .Events {
      margin-top: 10rem;
      background: var(--color-white);
   }

   .Events h2::after {
      content: "";
      height: 3px;
      background: #fbb900;
      width: 200px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      margin-top: 3rem;
    }

   .Events__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
   }


   .course {
      background: var(--color-white);
      text-align: center;
      border: 1px solid transparent;
      transition: var(--transition);
      border-radius: 1rem;
   }
   .course__image {
      border-radius: 1rem;
   }

   .course:hover {
      background: transparent;
      border-color: var(--color-tango);
      border-radius: 1rem;
   }

   .course__info {
      padding: 2rem;
      border-radius: 1rem;
   }

   .course__info p {
      margin: 1.2rem 0 2rem;
      font-size: 0.9rem;
      border-radius: 1rem;
   }




   /* ========== faq ========== */

   .faqs {
      background: var(--color-white);
      
   }

   .faqs h2::after {
      content: "";
      height: 3px;
      background: #fbb900;
      width: 300px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      margin-top: 4rem;
    }

   .faqs__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      width: auto;
      height: auto;
   }

   .faq {
      padding: 2rem;
      display: flex;
      align-items: center;
      gap: 1.4rem;
      height: fit-content;
      background: var(--color-riptide);
      cursor: pointer;
      border-radius: 15px 50px;
   }

   .faq h4 {
      font-size: 1rem;
      line-height: 2.2;
   }

   .faq__icon{
      align-self: flex-start;
      font-size: 1.2rem;
   }

   .faq p {
      margin-top: 0.8rem;
      display: none;
   }

   .faq.open p {
      display: block;
   }

   
      
   

   /* ========== footer ========== */
   footer {
      background: var(--color-white);
      padding-top: 10rem;
      font-size: 0.9rem;
   }

   .footer__container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 5rem;
   }

   .footer__container > div h4 {
      margin-bottom: 1.2rem;
   }

   .footer__1 p {
      margin: 0 0 2rem;
   }

   footer ul li {
      margin-bottom: 0.7rem;
   }

   footer ul li a:hover {
      text-decoration: underline;
   }
   

   

   .footer__socials {
      display: flex;
      gap: 1rem;
      font-size: 1.2rem;
      margin-top: 2rem;
   }

   .footer__copyright {
      text-align: center;
      margin-top: 4rem;
      padding: 1.2rem 0;
      border-top: 1px solid var(--color-white);
   }

/* ========== media queris (tablets) ========== */
@media screen and (max-width: 1024px) {
   .container {
      width: var(--container-width-md);
   }

   h1 {
      font-size: 2.2rem;
   }

   h2 {
      font-size: 1.7rem;
   }

   h3 {
      font-size: 1.4rem;
   }

   h4 {
      font-size: 1.2rem;
   }

   /* ========== navbar ========== */
   nav button {
      display: inline-block;
      background: transparent;
      font-size: 1.8rem;
      color: var(--color-white);
      cursor: pointer;
   }

   nav button#close-menu-btn {
      display: none;
   }
   
   .nav__menu {
      position: fixed;
      top: 5rem;
      right: 5%;
      height: fit-content;
      width: 18rem;
      flex-direction: column;
      gap: 0;
      display: none;
   }

   .nav__menu li {
      width: 100%;
      height: 5.8rem;
   }

   .nav__menu li a {
      background: var(--color-riptide);
      box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
   }

   .nav__menu li a:hover {
      background: var(--color-bg2);
      color: var(--color-white);
   }

 
      

   /* ========== header ========== */
   header {
      height: 52vh;
      margin-bottom: 4rem;
   }

   .header__container{
      gap: 0;
      padding-bottom: 3rem;
   }

   /* ========== categories ========== */
   .departements {
      height: auto;
   }

   .departements__container {
      grid-template-columns: 1fr;
      gap: 3rem;
   }

   .categories__left {
      margin-right: 0;
   }


   .category img {
      width: 38px;
      height: 38px;
      margin-left: auto;
      margin-right: auto;
   }

   .category:hover {
      box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
   }

   

   .category h5 {
      margin: 2rem 0 1rem;
      text-align: center;
   }

   .category p {
      font-size: 0.85rem;
      margin-left: 10px;
   }

   /* ========== popular courses ========== */
   .course {
      margin-top: 0;
   }

   .courses__container {
      grid-template-columns: 1fr 1fr;
   }


   /* ========== faq ========== */
   .faqs__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      width: auto;
      height: auto;
   }

   /* ========== footer ========== */
   .footer__container {
      grid-template-columns: 1fr 1fr;
   }
   }

/* ========== media quaries (phone) ========== */
@media screen  and (max-width: 600px) {
   .container {
      width: var(--container-width-sm);
   }

   /* ========== navbar ========== */
   .nav__menu {
      right: 3%;
   }

   /* ========== header ========== */
   header {
      height: 100vh;
   }

   .header__container {
      grid-template-columns: 1fr;
      text-align: center;
      margin-top: 0;
   }

   .header__left p {
      margin-bottom: 1.3rem;
   }

   /* ========== categories ========== */
   .categories__right {
      grid-template-columns: 1fr 1fr;
      gap: 0.7rem;
   }

   .category {
      padding: 1rem;
      border-radius: 1rem;
   }
   

   .category__icon {
      margin-top: 4px;
      display: inline;
   }

   .category__img {
      display: inline;
   }
   

   /* ========== popular courses ========== */
   .Events__container {
      grid-template-columns: 1fr;
   }

   /* ========== faq ========== */
   
   .faqs__container {
      grid-template-columns: 1fr;
      width: auto;
      height: auto;
   }
   

   /* ========== footer ========== */

   .footer {
      margin: 1rem auto;
   }


   .footer__container {
      grid-template-columns: 1fr;
      text-align: center;
      gap: 2rem;
   }

   .footer__1 p {
      margin: 1rem auto;
   }

   .footer__socials {
      justify-content: center;
   }
}

      


      
      
       






 
   
