* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppis', sans-serif;
}
.header {
    width: 100%;
    height: 100vh;
    background-color: chocolate;
}
.side-nav{
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.user div {
    display: none;
}

.user h2 {
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
}

.user-image{
    width: 40px;
    border-radius: 50%;
    margin: auto;
}

.star-img{
    width: 20px;
    display: none;
}

ul {
    list-style: none;
    padding: 0 15px;
}

ul li {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

ul li img {
    width: 30px;
    margin-right: 0px;
    margin-top: auto;
}

ul li p {
    white-space: nowrap;
    display: none;
    color: #FFFF;
    
}

.side-nav:hover{
    width: 250px;

}

.side-nav:hover .user div {
    display: block;
}

.side-nav:hover .user {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.side-nav:hover .star-img {
    display: block;
}

.side-nav:hover .user -img {
    margin: 0;
}

.side-nav:hover ul li p {
    display: block;
}

.side-nav:hover ul li img {
    margin-right: 10px;
}

.side-nav:hover ul li {
    justify-content: flex-start;
}


 /* ========== CATEGORIES ========== */
 .departements {
    margin-left: 16rem;
    margin-right: 10rem;
    margin-top: -30rem;
    background: var(--color-white);
    height: rem;
 }

 .departements h1 {
    line-height: 1;
    margin-bottom: 3rem;
 }

 .departements__container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 4rem;
 }

 .categories__left {
    margin-right: 3rem;
 }

 .categories__left p {
    margin: 1rem 0 3rem;
 }

 .categories__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
 }

 .category {
    background: cornflowerblue;
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
    
 }

 .category img {
    width: 38px;
    height: 38px;
    margin-left: 0.5rem;
    margin-right: auto;
 }

 .category:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
 }

 

 .category h5 {
    margin: 2rem 0 1rem;
    text-align: center;
 }

 .category p {
    font-size: 0.85rem;
    margin-left: 10px;
 }




 

